.tableCalls {
  background-color: #fdfefe;

  width: 60%;
  margin: 0px auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 1px 34px 4px rgba(171, 178, 185, 1);
}

th,
td {
  height: 40px;
  text-align: center;
}
.tdtype {
  text-transform: capitalize;
}

th {
  background-color: #3fb4e6;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

tr {
  font-size: 20px;
  background-color: #fdfefe;
  color: #646565;
}

tr:nth-child(even) {
  background-color: #f0f2a9;
}

@media screen and (max-width: 768px) {
  .tableCalls {
    width: 90%;
  }

  th {
    font-size: 14px;
  }

  tr {
    font-size: 14px;
  }
}
